<div class = "homepage">
  <div class = "intro">
  <h1>Create your deck</h1>
  <br>
  <h3>Cards come in decks. Create decks first, then populate them with cards.</h3>
  <br>
    <div class = "cardwow">
  <%= simple_form_for([@game, @card_deck]) do |f| %>
    <%= f.input :name %>
    <%= f.button :submit, class:'btn-flat'  %>
  <% end %>
    </div>
  </div>
</div>
