<div class="message-container d-flex" id="message-<%= message.id %>">
      <div class="anotherdiv text-left ml-0">
      <i class="author text-left">
        <strong><span class="text-left"><%= message.user.username %></span></strong>
        <small>[<%= message.created_at.strftime("%l:%M%p") %>]:</small>
      </i>
      <p class="content-container author"><%= message.content %></p>
      </div>
</div>
