<div class="message-container" id="message-<%= message.id %>">
      <i class="author">
        <strong><span><%= message.user.username %></span></strong>
        <small>[<%= message.created_at.strftime("%l:%M%p") %> ]:</small>
      </i>
      <p class="content-container"><%= message.content %></p>
</div>