<div class="container d-flex justify-content-center">
    <div class="gameroomindex">
        <table width="250px">
        <thead>
            <tr>
            <th><h2 class="px-5 py-2">Games</h2></th>
            <br>
            <th><h2 class="px-5 py-2">Gamerooms</h2></th>
            <th colspan="2"></th>
            </tr>
        </thead>
    <div class="games">
            <tbody>
                <br>
                <% @gamerooms.each do |gameroom| %>          
                <tr>
                    <td><%= "#{gameroom.clone.name}"%></td>
                    <td><%= link_to "Join", gameroom_path(gameroom) %></td>           
                <% end %>
                </tr>       
                
            </tbody>
            </table>

        <div class="mt-5">
        <%= link_to "Home", root_path, class: 'btn-flat' %>        
        </div>

    </div>
</div>



