.index {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: $background;   
    text-align: center;
 
  h1 {
    color: #f3d9bb;
    font-family: 'Permanent Marker', cursive;
    font-size: 80px;   
  }

  h2 {
    color: #f3d9bb;
    font-family: 'Permanent Marker', cursive !important;
    padding-top:70px;
  }

  .right {
  display:grid;
  max-height: 100vh;
  overflow: scroll;
  }

  .left{
    border: 2px solid white;
    margin: 90px;
  }

  a {
    text-decoration: none;
    color: #e6dbcd;
  }
 
  .title {
    text-align: center;
    padding: 40px;
  }

  .games {
    display: grid;
    grid-template-columns: 1fr -2fr;
    grid-gap: 16px;
    margin: 20px;
  }
}
