.index {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #1d2d4f;   
    text-align: center;
 
  h1 {
    color: #f3d9bb;
    font-family: 'Permanent Marker', cursive;
    font-size: 80px;   
  }

  h2 {
    color: #f3d9bb;
    font-family: 'Permanent Marker', cursive !important;
    padding-top:70px;
  }

  .right {
  display:grid;
  max-height: 100vh;
  overflow: scroll;
  }

  .left{
    border: 2px solid white;
    margin: 90px;
  }

  a {
    text-decoration: none;
    color: #e6dbcd;
  }

  .btn-flat {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background: #6987ac;
    transition: background 0.3s ease;
    margin: 20px;
  }
  
  .btn-flat:hover {
    background: #e6dbcd;
    color: white;
  }
 
  .title {
    text-align: center;
    padding: 40px;
  }

  .games {
    display: grid;
    grid-template-columns: 1fr -2fr;
    grid-gap: 16px;
    margin: 20px;
  }
}
