.movablecontainer {
    position: absolute;
  }

.movable-board {
    width: 700px;
    height: 700px;
  }
  
.movable-token {
    width: 25px;
    height: 25px;
  }

.chat-container {
  height: 400px;
  width: 25%;
  overflow: auto;
  direction: ltr;
  position: absolute;
  right: 50px;
  top: 19%;
  background-color: white;
}

.message-form {
  width: 25%;
  position:absolute;
  right: 50px;
  top: 78%;
}

#messages {
  font-size: 15px;
}