.movablecontainer {
    position: absolute;
  }

.movable-board {
    width: 700px;
    height: 700px;
  }
  
.movable-token {
    width: 25px;
    height: 25px;
  }

.the-chat {
  position: absolute;
  right: 50px;
  top: 15%;
  width: 18%;
  flex-direction: column;
}

.chat-container {
  height: 450px;
  overflow: auto;
  direction: ltr;
  background-color: white;
  border: 1px solid rgb(212, 212, 212);
  box-shadow: 0.5px 0.5px 8px;
}

.message-form {
  margin-top: 5px;
  box-shadow: 0.5px 1px 8px;

}

.message-container {
  text-align: left;
  margin: 7px;
}

.content-container {
  text-align: left;
  margin: 7px;
}


#messages {
  font-size: 15px;
}
