// Import page-specific CSS files here.
 @import "home";
 @import "gameroom";

 .index {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
    margin: 50px;

  h1 {
    color: #112d4e;
    font-family: 'Permanent Marker', cursive;
    font-size: 80px;
  }

  h2 {
    color: #112d4e;
    font-family: $body-font , sans-serif;
    
  }

  p {
    color: #112d4e;
    font-family: $body-font , sans-serif;
    font-weight: bolder;
  }
  
  .flex-column {
    flex-direction: column;
  }
  .d-flex {
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    margin: -8px;
  }

  .title {
    text-align: center;
    padding: 7px;
  }

  .games {
    display: grid;
    grid-template-columns: 1fr -2fr;
    grid-gap: 16px;
    margin: 20px;
  }
}