.user {
  display: grid;
  grid-gap: 16px;
  text-align: center;
  margin: 20px;
  padding: 70px;


.settings, .history, .user-info {
  list-style-type: none;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 16px;
  margin: 10px;
  border: 2px solid white;
  text-align: left;
}

.boxes {
  grid-template-columns: 1fr 1fr 1fr;
}


.user-info {
  margin: 0 100px 0 100px;
}

.row {
  margin: 10px;
}

h1 {
  color: #374863;
  font-family: 'Permanent Marker', cursive;
  font-size: 80px;
}

h2 {
  color: #374863;
  font-family: 'Permanent Marker', cursive !important;
}

a {
  text-decoration: none;
  color: #374863;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
    .cards {
      grid-template-columns: 1fr;
    }
  }

  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) {
    .user {
      grid-template-columns: 1fr;
    }
  }

  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) {
    .user {
      grid-template-columns: 1fr;
    }
  }

  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    .user {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
    .user {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
