<div class="container">
  <h2>Edit your profile</h2>

  <%= simple_form_for([@user]) do |f| %>
    <%= f.input :username %>
    <%= f.input :email %>
    <button class="big-button"><%= f.button :submit %></button>
  <% end %>
</div>
