<div class="container">
  <h2>Edit your profile</h2>

  <%= simple_form_for([@user]) do |f| %>
    <%= f.input :username %>
    <%= f.input :email %>
    <%= f.button :submit, class: "btn-flat" %>
  <% end %>
</div>
