<div class="user">
  <h1>Dashboard</h1>
  <br>
  <div class="settings">
    <h2>Settings</h2>
    <li><%= link_to "Create a new game", new_game_path, class: "btn btn-user" %></li>    
  </div>

  <div class="history">
    <h2>My games</h2>
      <% if @games != nil %>
        <% @games.each do |game| %>
          <li><%= link_to "#{game.name}", game_preview_path(game) %></li>     
          <%= link_to '<i class="fas fa-edit"></i>'.html_safe, game_path(game) %>                
        <% end %>
      <% else %>      
        <li><%= link_to '<i class="fas fa-gamepad"></i>'.html_safe, new_game_path %> </li>   
     <% end %>

  </div>


</div>
