<div class="wrapper">
  <header>
    <nav>
      <div class="menu-icon">
        <i class="fa fa-bars fa-2x"></i>
      </div>
      <div class="logo">
      NERD SQUAD
      </div>

      <div class="menu">
        <ul>
          <li><a href='<%= root_path(anchor: 'intro') %>'>Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href='<%= games_path(anchor: 'index') %>'>Games</a></li>
          <% if user_signed_in?  %>
            <li><a href='<%= user_path(current_user) %>'>Dashboard</a></li>
          <% else %>
            <li><a href='#'>Dashboard</a></li>
          <% end %>          
          <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
        </ul>
      </div>
    </nav>
  </header>
</div>



