<div class="homepage">
  <div class="container">
    <div class="intro">
      <h1>Nerd Squad</h1>
      <h2>Play your favorite games with your friends</h2>
    </div>
    
    <div class="options">
      <a href='#'><button class="big-button">PLAY</button></a>
      <a href='<%= new_game_path %>'><button class="big-button">CREATE</button></a>
      <a href='#'><button class="big-button">BROWSE</button></a>
    </div>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  </div>
</div>
