<div class="homepage">
  <div class="container"> 
    <div class="intro">
      <h1>Nerds Squad</h1>
      <h2>Play your favorite games with your friends</h2>
    </div> 
  </div>
    <div class="options">
      <button class="big-button">PLAY</button>
      <button class="big-button">CREATE</button>
      <button class="big-button">BROWSE</button>
    
    </div>

</div>