<div class="index">
  <div class="left d-flex flex-column">

    <div class="title">
      <h1>Select a game to play</h1>
    </div>

      <%= form_tag games_path, method: :get do %>      
          <%= text_field_tag :query,
          params[:query],
          class: "form-control"         
          %>      
      <% end %>
      <p>Find a game</p>
  
  </div>  

  <div class="right">  
 
    <div class="games">
      <table>
          <thead>
          <tr>
          <th><h2>Game</h2></th>
          <th><h2>Preview</h2></th> 
          <th colspan="2"></th>
          </tr>
      </thead>

          <tbody>
          <% @games.each do |game| %>
              <tr>
              <td><%= link_to "#{game.name}", game_path(game) %></td>
              <% if game.board%>
              <td><%= cl_image_tag game.board.photo.key, class: 'rounded img-fluid', alt: "Responsive image", width: '120px', height: '200px' %></td>
              <% end %>
              </tr>
          <% end %>
          </tbody>
      </table>
    </div>
  </div>

</div>
