<div class="index">
  <div class="title">
    <h1>Select a game to play</h1>
  </div>
  <div class="games">
    <table>
        <thead>
        <tr>
        <th>GAME</th>
        <th>PREVIEW</th> 
        <th colspan="2"></th>
        </tr>
    </thead>

        <tbody>
        <% @games.each do |game| %>
            <tr>
            <td><%= link_to "#{game.name}", game_path(game) %></td>
            <% if game.board%>
            <td><%= cl_image_tag game.board.photo.key, class: 'rounded img-fluid', alt: "Responsive image", width: '120px', height: '200px' %></td>
            <% end %>
            </tr>
        <% end %>
        </tbody>
    </table>
  </div>
</div>
