<div class = "homepage">
  <div class = "intro">
    <h1>Create your game</h1>
    <br>
    <br>
    <br>
    <div class = "cardwow">
      <%= simple_form_for(@game) do |f| %>
        <%= f.input :name %>
        <%= f.input :number_of_players, collection: 1..6 %>
        <%= f.button :submit, class: "btn-flat" %>
      <% end %>
    </div>
  </div>
</div>
