<div class="container">
    <h1>Create your game</h1>
    <%= simple_form_for(@game) do |f| %>
      <%= f.input :name %>
      <%= f.input :number_of_players, collection: 1..6 %>      
      <button class="big-button"><%= f.button :submit %></button>
    <% end %>
</div>


