<h2>Add a card in your deck</h2>
<%= simple_form_for([@game, @deck, @card]) do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file, required: true %>
  <button class="btn-flat"><%= f.button :submit %></button>
<% end %>
