.btn-user {
    color: #374863;
    border: 1px solid #374863;
    padding: 8px 24px;
    border-radius: 50px;    
    font-weight: lighter;
    opacity: 0.6;
    transition: opacity 0.3s ease;
  }
  
.btn-user:hover {
    opacity: 1;
    color: #374863;
  }

