// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "board";
@import "card";
@import "deck";
@import "dice";
@import "forms";
@import "movable";
@import "navbar";
@import "piece";
@import "search";
@import "table";
@import "token";
@import "avatar";
@import "btn-user";
@import "btn-flat";