.movable {
  position: absolute;
}

.movablecontainer {
  margin: 0;
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  top:0;
  left:0;
  // width: 100%;
  // height: 100%;
}

.greyed {
    opacity: 0.4;
    filter: alpha(opacity=40);
    background-color: #000;
    filter: grayscale(100%);
    z-index: 0;
}

.preview {
  z-index: 10;
}

.grab {
  &:hover {
    cursor: grab;
  }
}

.sizeform {
  height: 180px;
  width: 180px;
  right: 0px;
  top: 25px;
}
